body {
    background-color: black;
    color: white;
    font-family: Helvetica, sans-serif;
    margin-left: 16px;
}

a {
    color: cyan;
}

fieldset {
    width: fit-content;
    margin: 8px 2px;
}

fieldset div {
    margin: 2px 0;
}

h2 {
    margin-bottom: 0;
    font-weight: normal;
}

.datablock {
    margin: 32px 0;
}

.datablock > * {
    margin: 8px 0;
}

.highlightnegative {
    color: red;
}

.highlightpositive {
    color: lime;
}

.highlightneutral {
    color: orange;
}

.highlightpreview {
    color: lightblue;
}

button {
    background-color: #f5f5f5;
    border: outset 2px #e3e3e3;
    border-radius: 4px;
    color: black;
}

button:disabled {
    background-color: #505050;
    border: solid 2px #808080;
    color: #c0c0c0;
}

#action-submit {
    margin: 8px 0 0;
}

#tiredness-indicator {
    font-weight: bold;
}

#turn-elapsed-indicator {
    font-weight: bold;
}

#topheader {
    font-size: 42px;
    margin-bottom: 0px;
}
