body {
    background-color: black;
    color: white;
    font-family: Helvetica, sans-serif;
    margin-left: 16px;
}

a {
    color: cyan;
}

.datablock {
    margin: 32px 0;
}

.datablock p {
    margin: 8px 0;
}

.sparelist {
    margin: 8px 0;
}

.nonsparable {
    color: red;
}

.sparable {
    color: lime;
}

#topheader {
    font-size: 42px;
    margin-bottom: 0px;
}
