body {
    background-color: black;
    color: white;
    font-family: Helvetica, sans-serif;
    margin-left: 16px;
}

a {
    color: cyan;
}

.datablock {
    margin: 32px 0;
}

.datablock p {
    margin: 8px 0;
}

.sparelist {
    margin: 8px 0;
}

.highlightnegative {
    color: red;
}

.highlightpositive {
    color: lime;
}

#tiredness-indicator {
    font-weight: bold;
}

#turn-elapsed-indicator {
    font-weight: bold;
}

#next-attack {
    text-decoration: yellow underline;
}

#topheader {
    font-size: 42px;
    margin-bottom: 0px;
}
